<form {{on "submit" this.onSubmit}}>
 <div>Create A Post!</div>
 <label>
    <span>Enter a title: </span>
    <Input @value={{this.title}} />
  </label>
 <label>
    <span>Body</span>
    <Input @value={{this.body}} />
  </label>
  <button type="button" disabled={{this.disableSubmit}} {{on "click" this.onSubmit}}>Submit!</button>
</form>